/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
  background-color: rgb(25, 223, 108);
}
button {
  margin-top: 20px;
  margin-right: .5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #3589ad;
}
button:disabled {
  background-color: rgba(238, 238, 238, 0.432);
  color: #ccc;
  cursor: auto;
}

